<nav class="vivus-navigation-inner">
  <ul>
    <% @stylesheets.each do |group| %>
      <% section = group[0] %>
      <% section_slug = section.downcase.gsub(/[^a-z1-9]+/, '-').chomp('-') %>
      <% components = group[1] %>

      <% if section.downcase.gsub(/[^a-z1-9]+/, '-').chomp('-') == params[:section] && components.present? %>
        <% components.uniq{|c| c.name}.each do |component| %>
          <li>
            <%= link_to component.name, vivus_section_path(section_slug, anchor: component.slug) %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</nav>
