#vivus .vivus-component {
  list-style: none;
  margin-bottom: 40px;
}


#vivus .vivus-documentation {
  margin: 0 0 40px 0;

  > h1 {
    color: #C93312;
  }

  > ul, ol {
    list-style-position: inside;
    margin-bottom: 40px;
  }

  .todo {
    color: #C93312;
  }
}

#vivus code {
  color: #660000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#vivus .vivus-example {
  @include clearfix;
  margin: 0 0 40px 0;
  padding: 10px 0 30px;
  border-bottom: 1px solid #eee;
}

#vivus .vivus-source {
  padding: 10px;
  color: #bbb;
}

#vivus .vivus-code pre {
  font-family: monospace;
  word-wrap: break-word;
  margin: 0px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
