#vivus .vivus-navigation {
  float: left;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: 100%;
  max-width: 250px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
  padding: 30px 0 30px 30px;

  @include respond-to("small") {
    display: none;
  }

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    line-height: 1.45;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;

    &:hover {
      background-color: rgba(68, 31, 135, 0.3);
      color: #fff;
    }
  }

  .is-active a {
    background-color: rgba(68, 31, 135, 0.6);
    color: #fff;
  }
}

#vivus .vivus-navigation-inner {

  ul {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    width: 100%;
  }

  li {
    display: inline-block;
  }

  a {
    font-size: 20px;
    text-decoration: none;
    padding-right: 20px;

    li:last-child & {
      padding-right: 0;
    }
  }
}
