#vivus .vivus-navigation {
  float: left;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: 100%;
  max-width: 250px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;

  @include respond-to("small") {
    display: none;
  }

  ul {
    color: #D5D5D3; 
  }

  li {
    margin-bottom: 5px;
    list-style: none;
    margin: 20px 0 10px 20px;

    &.is-active {
      margin-left: 0;
      border-left: 5px solid #F3DF6C;
    }
  }

  a {
    line-height: 1.45;
    text-decoration: none;
  }
}

#vivus .vivus-navigation-inner {
  
  ul {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    width: 100%;
  }

  li {
    display: inline-block;
  }
}