#vivus .vivus {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

#vivus .vivus-body {
  margin-left: 250px;
  padding: 0 30px;

  @include respond-to("small") {
    margin: 0;
    padding: 20px;
  }
}

#vivus .vivus-section {
  margin-bottom: 40px;
}
